[Desktop Entry]
Type=Application
Name=Solidtime
Comment=Time tracking app
Exec=run.sh %u
Icon=io.solidtime.app
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/solidtime;
