name: Build/release Electron app

on:
    push:
        tags:
            - 'v*.*.*'
jobs:
    release:
        runs-on: ${{ matrix.os }}
        env:
            SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}

        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
                include:
                    - os: macos-latest
                      platform: mac
                    - os: ubuntu-latest
                      platform: linux
                    - os: windows-latest
                      platform: windows

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v3

            - name: Install Snapcraft
              uses: samuelmeuli/action-snapcraft@v2
              if: ${{ matrix.platform == 'linux' }}

            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm install

            - name: Install all Windows native modules for cross-arch build
              if: ${{ matrix.platform == 'windows' }}
              run: npm install --save-dev @miniben90/x-win-win32-x64-msvc @miniben90/x-win-win32-arm64-msvc --force

            - name: Install all macOS native modules for cross-arch build
              if: ${{ matrix.platform == 'mac' }}
              run: npm install --save-dev @miniben90/x-win-darwin-arm64 @miniben90/x-win-darwin-x64 @miniben90/x-win-darwin-universal --force

            - name: Install all Linux native modules for cross-arch build
              if: ${{ matrix.platform == 'linux' }}
              run: npm install --save-dev @miniben90/x-win-linux-x64-gnu @miniben90/x-win-linux-arm64-gnu --force

            - name: Build
              run: npm run build

            - name: Run Electron Builder (Windows)
              if: ${{ matrix.platform == 'windows' }}
              run: |
                  npx electron-builder --windows --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Run Electron Builder (Linux)
              if: ${{ matrix.platform == 'linux' }}
              run: |
                  npx electron-builder --linux --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Run Electron Builder
              if: ${{ matrix.platform == 'mac' }}
              run: |
                  echo "$API_KEY" > apple.p8
                  npx electron-builder --${{ matrix.platform }} --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
                  CSC_LINK: ${{ secrets.MAC_CERTS }}
                  CSC_KEY_PASSWORD: ${{ secrets.MAC_CERTS_PASSWORD }}
                  API_KEY: ${{ secrets.API_KEY }}
                  APPLE_API_KEY: apple.p8
                  APPLE_API_KEY_ID: ${{ secrets.API_KEY_ID }}
                  APPLE_API_ISSUER: ${{ secrets.API_KEY_ISSUER_ID }}
