name: Build/release Electron app

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    release:
        runs-on: ${{ matrix.os }}
        env:
            SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}

        strategy:
            matrix:
                include:
                    - os: macos-latest
                      platform: mac
                      arch: universal
                    - os: ubuntu-latest
                      platform: linux
                      arch: x64
                    - os: ubuntu-24.04-arm
                      platform: linux
                      arch: arm64
                    - os: windows-latest
                      platform: windows
                      arch: x64
                    - os: windows-11-arm
                      platform: windows
                      arch: arm64

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v3

            - name: Setup Snapcraft and dependencies
              if: matrix.platform == 'linux'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y zlib1g-dev libssl-dev
                  sudo snap install snapcraft --classic
                  sudo snap refresh lxd --channel=latest/stable || sudo snap install lxd
                  sudo lxd init --auto
                  sudo usermod -a -G lxd $USER

            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm install

            - name: Install macOS x64 native module
              if: matrix.platform == 'mac'
              run: npm install --save-dev @miniben90/x-win-darwin-x64 --force

            - name: Build
              run: npm run build

            - name: Run Electron Builder (Windows)
              if: matrix.platform == 'windows'
              run: npx electron-builder --windows --${{ matrix.arch }} --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Run Electron Builder (Linux)
              if: matrix.platform == 'linux'
              run: npx electron-builder --linux --${{ matrix.arch }} --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Run Electron Builder (macOS)
              if: matrix.platform == 'mac'
              run: |
                  echo "$API_KEY" > apple.p8
                  npx electron-builder --mac --universal --publish always
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
                  CSC_LINK: ${{ secrets.MAC_CERTS }}
                  CSC_KEY_PASSWORD: ${{ secrets.MAC_CERTS_PASSWORD }}
                  API_KEY: ${{ secrets.API_KEY }}
                  APPLE_API_KEY: apple.p8
                  APPLE_API_KEY_ID: ${{ secrets.API_KEY_ID }}
                  APPLE_API_ISSUER: ${{ secrets.API_KEY_ISSUER_ID }}
